/* Write your CSS here */
.money-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vh;
  margin-bottom: 32px;
  margin-top: 32px;
  margin: 20px;
}

.balance-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  margin-bottom: 16px;
  margin: 20px;
  border-radius: 16px;
  border: 1px solid #84cc16;
  background-color: #ecfccb;
}

.details-img {
  width: 64px;
  height: 64px;
  margin: 24px;
}

.details-text {
  color: #475569;
  font-size: 12px;
  font-family: 'Roboto';
  line-height: 1.7;
  margin: 0px;
  margin-bottom: 8px;
}

.details-money {
  color: #475569;
  font-size: 18px;
  font-family: 'Roboto';
  line-height: 1.3;
  margin: 0px;
}

.income-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 20px;
  margin-bottom: 16px;
  border-radius: 16px;
  border: 1px solid #06b6d4;
  background-color: #cffafe;
}

.expenses-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 200px;
  margin-bottom: 16px;
  border-radius: 16px;
  border: 1px solid #7c3aed;
  background-color: #ede9fe;
}
